/* Nürburgring Nordschleife */

html {
  background: #010101 url(images/Nordschleife-Background.png) no-repeat;
  background-attachment: fixed;
  font-family: Open Sans, Arial, sans-serif;
}

body {
  padding: 20px 70px;
  margin: 0;
}

header {
  height: 160px;
}

h1 {
  float: left;
  width: 192px;
  height: 119px;
  margin: 0;
  padding: 0;

  background: url(images/Nurburgring-Logo.png) no-repeat;
  
  text-indent: -5000px;
}

h2 {
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
}

.track-config {
  float: right;
  color: #929292;
}

.track-config h2 span {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  
  color: #6d6d6d;
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  text-align: right;
}

.track-config h2 {
  display: block;
  width: auto;
  padding: 0;
  margin: 0 15px 0;
  float: left;

  color: #f2f2f2;
  font-style: italic;
  font-size: 22px;
  letter-spacing: -0.5pt;
  line-height: 18px;
}

.track-config p {
  display: block;
  float: left;
  width: 415px;
  padding: 0 0 0 15px;
  margin: 0;
  
  border-left: 1px solid rgba(84, 84, 84, 0.55);
  font-size: 14px;
  font-style: italic;
  line-height: 25px;
}

.track-config p a {
  color: #A09C9C;
  text-decoration: none;
}

.track-config p a:hover {
  color: #FF000; 
}

.track {
  padding: 0px;
  overflow: hidden;
  position: relative;
  height: 100%;
  max-height: 900px;
  margin: 0px auto;
}

.track svg {
  display: block;
  position: relative;
  top: -40px;
  width: 70%;
  padding: 0px;
  margin: 0px auto;
}

svg g text {
  fill: #888888;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.25s ease-in;
  
  font-size: 6px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px rgba(0,0,0,0.76);
}

svg g#lap-times path {
  cursor: pointer;
  transition: stroke-width 0.25 ease-in;
}

svg g text:hover {
  opacity: 0.9;
  fill: #fff;
}

.track-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

ol {
  counter-reset: li;
  font-size: 0.7em;
  float: left;
  color: #fefefe;
  
  margin: 0 0 0 30px;
  padding: 0;
}

ol a {
  color: #ddd;
  text-decoration: none;
}

ol li h3 {
  text-transform: uppercase;
  
  display: inline-block;
  width: auto;
  max-width: 100px;
  padding: 10px 0 0 0;
  margin: 0;
}

ol li p {
  margin: 5px 0;
  padding: 0;
}

ol li p span {
  text-transform: uppercase;
  font-weight: 600;
  color: #777;
  padding: 0 0 4px 0;
}

ol > li {
  position: relative; /* Create a positioning context */
  margin: 3em 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
  padding: 0 8px; /* Add some spacing around the content */
  list-style: none; /* Disable the normal item numbering */

  line-height: 1em;
  border-left: 1px solid #444;
}

ol > li:before {
  content: counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: 6px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  /* Some space between the number and the content in browsers that support
     generated content but not positioning it (Camino 2 is one example) */
  margin-right :8px;
  padding: 4px;

  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

li ol,
li ul { margin-top:6px; }

ol ol li:last-child { margin-bottom:0; }

